* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: lightblue;
  display: flex;
  justify-content: space-between;
  padding: 20px 0.625rem;
  align-items: center;
  gap: 1.25rem;
}
header a {
  text-decoration: none;
  color: black;
}
.navbar {
  display: flex;
  list-style: none;
}
.navbar li a {
  text-decoration: none;
  font-size: 1.5625rem;
}
.principal {
  width: 100%;
  height: 31.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://images.unsplash.com/photo-1719742882558-c7c8c076b4fb?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
.principal div {
  width: 25rem;
}

/* @media screen {
  (max-width: 1024px;)
    header {
    background-color: red;
  }
  .principal {
    background-image: url("https://plus.unsplash.com/premium_photo-1720380988394-364c8544349c?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    height: 18.75rem;
  }
  .principal div {
    color: white;
  }
} */

/* @media es la propiedad que se utiliza para generar media query, que es la herramienta que se ocupara para el responsive  */
